{{CONFIG}}
{{key}}_INSTALL=" "
{{key}}_PATH="{{install_path}}"
{{key}}_CONFIG="{{source_config}}"

{{END}}

{{NOTES_ALL}}
NOTES_ALL_INSTALL=" "
NOTES_PATH="{{install_path}}"
{{END}}
{{NOTES_PARTS}}
NOTES_{{key}}=" "
NOTES_{{key}}_CONFIG="{{install_path}}"
{{END}}
